
*{
    box-sizing: border-box;
}

body {
    background:  rgb(194, 208, 221) url(../images/insideDentalOffice.jpg) no-repeat 0 90px;
    background-size: cover;
}

header{
    background:  rgb(42, 38, 37);
    padding: 20px 0;
}

.pageNumber, .currentScore{
    width: 40%;
    display: inline-block;
    text-align : center;
    color: rgb(194, 208, 221);
    }

.currentScore{
    position: absolute;
    right: 0;
}

.questionHeading{
    text-align: center;
}

main{
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    padding-top: 5px;
}

.questionContainer, .resultHeading{
    text-align: center;
    padding: 5px 0;
    font-size: 25px;
    background: rgb(194, 208, 221);
    width: 100%;
}


label{
    line-height: 30px;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    text-shadow:
    -1px -1px 0 #44556f,
    1px -1px 0 #44556f,
    -1px 1px 0 #44556f,
    1px 1px 0 #44556f,
    -5px -5px 10px rgba(68, 85, 111, .5),
    5px -5px 10px rgba(68, 85, 111, .5),
    5px 5px 10px rgba(68, 85, 111, .5),
   -5px 5px 10px rgba(68, 85, 111, .5);
   background: none;
   transition: all 0.3s ease-out;
}


label:hover, label:focus{ 
    background: rgba(42, 38, 37, .5);
}

.submitButton{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: -5px 10px 20px 5px rgb(42, 38, 37);
    transition: all 0.3s ease-out;
 }
 
.submitButton:hover{
    background: black;
    color: rgb(160,194,232);
    border: 2px solid rgb(160,194,232);
}

 .hidden{
    visibility: hidden;
}

.messageContainer{
    text-align: center;
    background: rgba(42, 38, 37, .8);
    padding-top: 10px;
    position: absolute;
    top: 20%;
    left:0;
    right: 0;
    width: 90%;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: -5px 10px 20px 5px rgb(42, 38, 37);
    color:white;
    line-height: 20px;
}

.correctAnswer{
    color: lime;
    font-weight: bold;
}

.wrongAnswer{
    color: red;
    font-weight: bold;
}

.buttonContainerNext{
    padding-top: 10px;
}

.buttonContainerNext button{
    width: 100%;
    border: 1px solid black;
}

.buttonContainerNext button:hover{
    background: rgb(89,115,172);
    border: 3px solid rgb(89,115,172);
}


@media screen and (min-width:600px){
    header{
        font-size: 20px;
    }
    main{
        top: 60px;
    }
    .questionContainer, .resultHeading{
        padding: 10px 0;
        font-size: 25px;
    }
    .formContainer{
        width: 90%;
        margin: auto;
    }
    label{
        font-size: 25px;
    }

    input:checked {
        border: 8px solid black;
    }

    .messageContainer{
        line-height: 30px;
        font-size: 25px;
    }
        button{
        padding: 5px;
        font-size: 20px;
    }

}

